[info]
shorttitle=corru
longtitle=corru.observer - the embassy
publisher=groundsmind
icon=icon.png
regions=regionfree
smallicon=tiny_icon.png
flags=extendedbanner

[frames]
top.type=texture
top.frame=slowscroll
bottom.type=texture
bottom.frame=fastscroll

[textures]
top.image=Backgrounds/top-screen.png
bottom.image=Backgrounds/bottom-screen.png
folderclose.image=Icons/folder-closed.png
folderopen.image=Icons/folder-opened.png
filelarge.image=Icons/large-icon.png
filesmall.image=Icons/small-icon.png

[colors]
cursorcolor.dark=0x00ffff
cursorcolor.main=0xff00ff
cursorcolor.light=0x00ffff
cursorcolor.glow=0x000000
foldercolor.dark=0x00ffff
foldercolor.main=0xff00ff
foldercolor.light=0x000000
foldercolor.shadow=0x000000
filecolor.dark=0xff00ff
filecolor.main=0x000000
filecolor.light=0x000000
filecolor.shadow=0x800080ff
open.textshadowpos=0
open.dark=0x00ffff
open.main=0x000000
open.light=0xff00ff
open.glow=0xffffff
open.shadow=0x000000ff
open.textshadow=0x000000
open.textmain=0xffffff
open.textselected=0xffff00
close.textshadowpos=0
close.dark=0x00ffff
close.main=0x000000
close.light=0xff00ff
close.glow=0xffffff
close.shadow=0x000000ff
close.textshadow=0x000000
close.textmain=0x000000
close.textselected=0xffff00
folderarrowcolor.textshadowpos=-0.00599957
folderarrowcolor.dark=0x000000
folderarrowcolor.main=0x280028
folderarrowcolor.light=0x800080
folderarrowcolor.glow=0xffffff
folderarrowcolor.shadow=0x000000ff
folderarrowcolor.textshadow=0x000000
folderarrowcolor.textmain=0x00ffff
folderarrowcolor.textselected=0xff00ff
arrowbuttoncolor.dark=0xff00ff
arrowbuttoncolor.main=0x3f003f
arrowbuttoncolor.light=0xff5eff
arrowbuttoncolor.shadow=0x000000ff
arrowcolor.border=0x00ffff
arrowcolor.unpressed=0x000000
arrowcolor.pressed=0x00ffff
bottomcornerbuttoncolor.dark=0x000000
bottomcornerbuttoncolor.main=0x007a7a
bottomcornerbuttoncolor.light=0x000000
bottomcornerbuttoncolor.shadow=0x000000
bottomcornerbuttoncolor.iconmain=0x00ffff
bottomcornerbuttoncolor.iconlight=0xff00ff
bottomcornerbuttoncolor.icontextmain=0x00ffff
topcornerbuttoncolor.main=0x000000
topcornerbuttoncolor.light=0x000000
topcornerbuttoncolor.shadow=0x000000
topcornerbuttoncolor.textmain=0xff00ff
folderbgcolor.dark=0x000000
folderbgcolor.main=0x280028
folderbgcolor.light=0xff00ff
folderbgcolor.shadow=0x00ffffff
gametext.main=0x000000
gametext.light=0xffffff
gametext.shadow=0x000000ff
gametext.textmain=0x00ffff
demotextcolor.main=0x00ffff
demotextcolor.textmain=0xffffff

[audio]
bgm=Sounds/BGM/ocean.bcstm
sfx.cursor=Sounds/SFX/cursor.bcwav
sfx.launch=Sounds/SFX/launch.bcwav
sfx.folder=Sounds/SFX/folder.bcwav
sfx.close=Sounds/SFX/close.bcwav
sfx.frame0=Sounds/SFX/frame.bcwav
sfx.openlid=Sounds/SFX/lid_open.bcwav

[kame-editor]
deploy=_Release/embassy_theme.zip
